.header{
  height: 50px;
  width: 100%;
  background-color: skyblue;
}
.header h1{
  color: white;
}
.content{
  background-color: #f0f8ff;
  width: 500px;
}
.sentence{
  line-height: 0;
}
.contact_menu{
  line-height: 50px;
}
.contact_menu th{
  text-align: right;
}
